{% extends 'base/base.html' %}

{% block title %}Home - Social Media App{% endblock %}

{% block content %}
    <div class="max-w-2xl mx-auto">
        <!-- Create a post form -->
        {% include 'home/components/post_form.html' %}

        <!-- Newsfeed -->
        <div class="mt-6">
            <h2 class="text-xl font-bold mb-4">Newsfeed</h2>
            <div id="posts">
                {% include 'home/components/post_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}

<script>
    function reloadPost(postId, html) {
        const post = document.getElementById(`post${postId}`);
        post.outerHTML = html;
        initFlowbite();
    }

    function likePost(postId) {
        fetch(`/api/posts/${postId}/like/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
            },
        })
            .then(response => response.text())
            .then(response => reloadPost(postId, response))
            .catch((error) => console.log(error));
    }

    function deletePost(postId) {
        fetch(`/api/posts/${postId}/delete/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
            },
        })
            .then(() => document.getElementById(`post${postId}`).remove())
            .catch(() => document.getElementById(`post${postId}`).remove());
    }

    function addComment(postId) {
        const post = document.getElementById(`post${postId}`);
        const contentTextarea = post.querySelector(`[name="content${postId}"]`);
        const content = contentTextarea.value.trim();

        if (!content) {
            contentTextarea.focus();
            return;
        }

        fetch(`/api/posts/${postId}/comments/`, {
            method: 'POST',
            body: JSON.stringify({content}),
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json',
            }
        })
            .then(response => response.text())
            .then(response => reloadPost(postId, response))
            .catch((error) => console.log(error));
    }

    function deleteComment(postId, commentId) {
        fetch(`/api/comments/${commentId}/delete/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
            }
        })
            .then(response => response.text())
            .then(response => reloadPost(postId, response))
            .catch((error) => console.log(error));
    }

    // Infinite scroll
    let loading = false;
    let loadAll = false;
    const postsElement = document.getElementById('posts');

    window.onscroll = function() {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
            if (loading || loadAll) {
                return;
            }
            loading = true;
            const offset = postsElement.querySelectorAll('[id^="post"]').length;
            fetch(`/api/posts/?offset=${offset}`)
                .then(response => response.text())
                .then(response => {
                    if (!response) {
                        loadAll = true;
                        return;
                    }
                    loading = false;
                    postsElement.innerHTML += response;
                    initFlowbite();
                });
        }
    };
</script>
{% endblock %}
