{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Social Media App{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <style>
        textarea {
            resize: none;
        }
    </style>
    {% block extra_css %}{% endblock %}
</head>
<body class="bg-gray-100">
    {% if user.is_authenticated %}
    <header class="bg-white shadow-md py-4 mb-6">
        <div class="container mx-auto px-4">
            <div class="flex justify-between items-center">
                <!-- Logo and Search Bar -->
                <div class="flex items-center space-x-4 w-2/3">
                    <a href="/" class="text-2xl font-bold text-blue-600">Django</a>
                    <div class="w-full max-w-xl">
                        <form>
                            <input type="search" class="w-full px-4 py-2 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Search...">
                        </form>
                    </div>
                </div>

                <!-- User Profile Dropdown -->
                <div class="relative">
                    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-gray-700 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center" type="button">
                        {{ user.username }}
                        <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                        <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
                          <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100">Profile</a>
                          </li>
                          <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100">Settings</a>
                          </li>
                          <li>
                            <a href="{% url 'logout' %}" class="block px-4 py-2 hover:bg-gray-100">Sign out</a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endif %}

    <main class="container mx-auto mt-10 px-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Add your footer content here -->
    </footer>

    <!-- Flowbite JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

    <script src="{% static 'js/utils.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
