<button class="flex items-center text-gray-500 hover:text-red-500 focus:outline-none"
        onclick="likePost({{ post.pk }})">
    {% if user in post.liked_by.all %}
        <i id="likeIcon{{ post.pk }}" class="far fa-heart text-2xl fa-solid text-red-500"></i>
    {% else %}
        <i id="likeIcon{{ post.pk }}" class="far fa-heart text-2xl"></i>
    {% endif %}
</button>

<script>
    function likePost(postId) {
        fetch(`/api/posts/${postId}/like/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        })
            .then(response => response.text())
            .then(response => reloadPost(postId, response))
            .catch(() => window.location.reload());
    }
</script>
