{% if page_obj.has_other_pages %}
<div class="flex justify-center space-x-1 mt-4">
    {% if page_obj.has_previous %}
        <a href="?q={{ query }}&{{ page_param }}={{ page_obj.previous_page_number }}" class="px-4 py-2 text-gray-700 bg-gray-200 rounded-md hover:bg-blue-400 hover:text-white">
            Previous
        </a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span class="px-4 py-2 text-white bg-blue-500 rounded-md">{{ num }}</span>
        {% else %}
            <a href="?q={{ query }}&{{ page_param }}={{ num }}" class="px-4 py-2 text-gray-700 bg-gray-200 rounded-md hover:bg-blue-400 hover:text-white">
                {{ num }}
            </a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?q={{ query }}&{{ page_param }}={{ page_obj.next_page_number }}" class="px-4 py-2 text-gray-700 bg-gray-200 rounded-md hover:bg-blue-400 hover:text-white">
            Next
        </a>
    {% endif %}
</div>
{% endif %}
