{# Create new post #}

<div class="bg-white shadow rounded-lg mt-6 p-4">
    <h1 class="text-2xl font-bold mb-4">Welcome, {{ user.username }}!</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {# Display non-field errors #}
        {% if form.non_field_errors %}
        <div class="text-red-500">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        {# Field for 'content' with error display #}
        <div class="{% if form.content.errors %}has-error{% endif %}">
            <label>
                <textarea name="content" placeholder="What's on your mind?" style="resize: none;"
                          class="w-full p-2 border border-gray-300 rounded-lg {% if form.content.errors %}border-red-500{% endif %}"
                ></textarea>
            </label>
            {% for error in form.content.errors %}
            <div class="text-red-500">{{ error }}</div>
            {% endfor %}
        </div>

        <div id="drop-zone"
             class="min-h-[150px] flex items-center justify-center mt-4
                    border-dashed border-2 border-gray-300 p-6 text-center cursor-pointer">
            <span id="drop-zone-text">Drag and drop an image here or click to select</span>
            <input id="file-input" type="file" name="image" accept="image/*" class="hidden"
                   onchange="handleFiles(this.files)">
            {# Display errors for 'image' field #}
            {% if form.image.errors %}
            {% for error in form.image.errors %}
            <div class="text-red-500">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="mt-4 text-right">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Post</button>
        </div>
    </form>
</div>

<script>
    const dropZone = document.getElementById('drop-zone');
    const dropZoneText = document.getElementById('drop-zone-text'); // Get the text element

    function handleFiles(files) {
        const file = files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
            const img = new Image();
            img.onload = function () {
                // Hide the drop zone text
                dropZoneText.style.display = 'none';

                // Get the height of the image
                let imgHeight = img.height;
                // Limit the height to 500px
                imgHeight = imgHeight > 500 ? 500 : imgHeight;
                // Set the drop zone's height
                dropZone.style.height = `${imgHeight}px`;

                // Set the background image to the loaded image
                dropZone.style.backgroundImage = `url('${e.target.result}')`;
                // Ensure the image covers the drop zone, maintaining its aspect ratio
                dropZone.style.backgroundSize = 'contain';
                dropZone.style.backgroundRepeat = 'no-repeat';
                dropZone.style.backgroundPosition = 'center';
            };
            img.src = e.target.result;
        };

        reader.readAsDataURL(file);
    }

    dropZone.addEventListener('click', function () {
        document.getElementById('file-input').click();
    });

    dropZone.addEventListener('dragover', function (event) {
        event.stopPropagation();
        event.preventDefault();
        event.dataTransfer.dropEffect = 'copy';
        this.classList.add('bg-gray-200');
    });

    dropZone.addEventListener('dragleave', function (event) {
        this.classList.remove('bg-gray-200');
    });

    dropZone.addEventListener('drop', function (event) {
        event.stopPropagation();
        event.preventDefault();
        this.classList.remove('bg-gray-200');
        const files = event.dataTransfer.files;
        document.querySelector('input[type="file"]').files = files;
        handleFiles(files); // You might want to define this function to do something with the files
    });
</script>
